.img{
    width: 100%;
    height: 200px;
}
.subtitleText{
    font-size:17px;
    color: grey;
}
.title{
    color:purple;
    font-family: sans-serif;
    text-align: center;
    text-transform: capitalize;
}
.subtitle{
    color:purple;
    font-family: sans-serif;
    text-align: center;
}
.btnSelect{
    float: right;
}