
  <div class="imagen">
 <img src="assets/img/delivery.png" class="imgWelcome">
</div>

 <ion-text class="textWelcome">
   
    <h1 class="titleWelcome">Send your package</h1>
    <h2 class="subtitleWelcome">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem asperioresae quas, a repudiandae numquam nostrum harum.</h2>
  
  </ion-text>


<div class="divButton">
  <ion-button expand="block" color="tertiary" class="goButton" routerLink="/form-inicial">
      <ion-ripple-effect></ion-ripple-effect>
    Go
    <ion-icon name="arrow-round-forward" slot="end"></ion-icon>
  </ion-button>
</div>



  <img src="assets/img/footer.png" class="imgFooter" >






