.textWelcome{
    text-align: center;
    font-family: sans-serif; 
    text-align: center;
}
.imgWelcome{
 
    height:  auto;
    margin-top:  auto;
    margin: auto;
   
}
.subtitleWelcome{
    color:gray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
   text-align: center;
   margin:5px;
}
.welcomeCard{
    width: auto;
    height: auto;

}
.titleWelcome{
    font-size: 35px;
    color:grey;
}
.divButton{
    text-align: center;
    align-content: center;
    margin: auto;
}
.goButton{
    width: auto;
    margin: auto;
    padding: auto;
    margin-top: 40px auto;
}
.imagen{
    align-content: center;
    margin: auto;
}
.imgFooter{
    width: auto;
    margin-bottom: 0px;
    height: auto;
}
